@charset "UTF-8";
@font-face {
  font-family: 'Huiwen-mincho';
  src: url(./fonts/匯文明朝體.otf);
}

@font-face {
  font-family: 'GenRyuMin-SB';
  src: url(./fonts/GenRyuMinJP-SemiBold.ttf);
}

@font-face {
  font-family: 'GenRyuMin-H';
  src: url(./fonts/GenRyuMinJP-Heavy.ttf);
}

body {
  background-image: url(./images/A/background.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  letter-spacing: 3px;
}

.text_bg {
  background-image: url(./images/A/textbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text_title {
  font-size: 48px;
  font-family: "Huiwen-mincho";
  color: #fff;
}

.text_titleH2 {
  font-size: 36px;
  font-family: "GenRyuMin-H";
  color: #fff;
}

.text_articleTitle {
  font-size: 36px;
  font-family: "Huiwen-mincho";
  color: #5D5B72;
}

.text_contentH1 {
  font-size: 22px;
  font-family: "GenRyuMin-SB";
  color: #AEBCFF;
}

@media screen and (max-width: 992px) {
  .text_contentH1 {
    font-size: 18px;
  }
}

.text_contentH2 {
  font-size: 17px;
  font-family: "GenRyuMin-SB";
  color: #AEBCFF;
}

.text_content {
  font-size: 18px;
  font-family: "GenRyuMin-SB";
  color: #AEBCFF;
}

@media screen and (max-width: 992px) {
  .text_content {
    font-size: 15px;
  }
}

.text_content2 {
  font-size: 18px;
  font-family: "GenRyuMin-SB";
  color: #F7E6FF;
}

.text_articleContent {
  font-size: 22px;
  font-family: "GenRyuMin-SB";
  color: #615889;
}

@media screen and (max-width: 992px) {
  .text_articleContent {
    font-size: 18px;
  }
}

.text_shadow_purple {
  text-shadow: 0 0 5px #A9BAFF;
}

.text_shadow_white {
  text-shadow: 0 0 4px #fff;
}

.text_justify {
  text-align: justify;
}

.light {
  height: 120%;
  width: 50px;
  background-image: url(./images/A/light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  right: -15px;
  top: -10px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .light {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 75%;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    top: unset;
    left: 10px;
    bottom: -25px;
  }
}

.circle {
  height: 125%;
  background-image: url(./images/A/circle.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  right: 0;
  top: -50px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .circle {
    height: 55%;
  }
}

.light2 {
  width: 33%;
  height: 30px;
  background-image: url(./images/A/light2.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  right: -25px;
  top: -25px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .light2 {
    width: 0%;
  }
}

.copyright {
  font-size: 16px;
  max-width: 70vw;
}

@media screen and (max-width: 992px) {
  .copyright {
    font-size: 12px;
  }
}

.icon {
  font-size: 28px;
}

@media screen and (max-width: 992px) {
  .icon {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */